# Practical Exam: House sales

RealAgents is a real estate company that focuses on selling houses.

RealAgents sells a variety of types of house in one metropolitan area.

Some houses sell slowly and sometimes require lowering the price in order to find a buyer.

In order to stay competitive, RealAgents would like to optimize the listing prices of the houses it is trying to sell.

They want to do this by predicting the sale price of a house given its characteristics.

If they can predict the sale price in advance, they can decrease the time to sale.


## Data

The dataset contains records of previous houses sold in the area.

| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton'. </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced" (two shared walls), "Semi-detached" (one shared wall), or "Detached" (no shared walls). </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

Instruction: 

- Use Python to perform each of the tasks.

- Write your solutions in the code cell provided.

- The object you have been asked to create will be graded, not the code.

- Ensure you match any column name or object requirements.

- You must be successful in all tasks to pass this exam.


- The fit of your models will be compared to held back values from the test set provided to you. We will calculate the Root Mean Squared Error of your predictions.

- At least one of your two models must have a Root Mean Squared Error below 30,000 to pass.

Test to pass:

- All required data has been created and has the required columns
- Task 1: Identify and replace missing values.
- Task 2: Identify and replace missing values.
- Task 2: Clean categorical and text data by manipulating strings.
- Task 2: Convert values between data types.
- Task 3: Aggregate numeric, categorical variables and dates by groups.
- Task 4 & 5: Implement standard modeling approaches for supervised learning problems.

# Task 1

The team at RealAgents knows that the city that a property is located in makes a difference to the sale price. 

Unfortuntately they believe that this isn't always recorded in the data. 

Calculate the number of missing values of the `city`. 

 - You should use the data in the file "house_sales.csv". 

 - Your output should be an object `missing_city`, that contains the number of missing values in this column.

In [61]:
# task 1: Count missing city values
import pandas as pd
import numpy as np

# load data
house_sales_df = pd.read_csv('house_sales.csv')

# count missing values and '--' included as missing
missing_city = house_sales_df['city'].isna().sum() + (house_sales_df['city'] == '--').sum()

# inspect the data

print(f"Shape of the house_sales data frame: {house_sales_df.shape}")
print(f"Missing values in city column is: {missing_city}")
print(f"columns of the house sales df: {house_sales_df.columns.to_list()}")
print(f"Missing values in whole dataframe: {house_sales_df.isna().sum()}")
print(f"unique values in city: {house_sales_df['city'].unique()}")
print(f"unique values in months_listed: {house_sales_df['months_listed'].unique()}")
print(f"unique values in house_type: {house_sales_df['house_type'].unique()}")

Shape of the house_sales data frame: (1500, 8)
Missing values in city column is: 73
columns of the house sales df: ['house_id', 'city', 'sale_price', 'sale_date', 'months_listed', 'bedrooms', 'house_type', 'area']
Missing values in whole dataframe: house_id          0
city              0
sale_price        0
sale_date         0
months_listed    31
bedrooms          0
house_type        0
area              0
dtype: int64
unique values in city: ['Silvertown' 'Riverford' 'Teasdale' 'Poppleton' '--']
unique values in months_listed: [ 5.4  6.3  6.9  6.1  8.7  5.1  nan  5.8  4.4  3.   4.6  3.7  6.2  5.3
  3.5  5.   5.5  7.8  4.9  4.7  8.9  5.9  3.8  4.8  7.6  6.4  7.9  6.6
  4.1  7.4  7.1  6.7  3.9  4.3  8.1  6.5  7.7  5.2  2.6  4.2  1.2  8.
  5.6  3.3  7.3  9.4  8.8  6.   3.6  3.2  8.5  4.5 10.4  9.2  1.7 10.2
  0.8  5.7  2.   2.3  8.6  7.5  9.6  9.7  6.8  2.2  2.5  4.   8.3 10.7
  2.7  3.4  7.   9.1  2.8  8.2 11.4 10.   2.9 10.1  7.2 10.5  9.9  3.1
  9.3  9.   1.3  8.4 11.   1.9 12.3  9.5  2.1  9.8  2.4  0.5 11.5  1.8
  1.6  1.5 10.8  1.4 11.6 10.3 10.6  0.6 11.3 11.7 11.8  1.1  1.  10.9]
unique values in house_type: ['Semi-detached' 'Detached' 'Det.' 'Terraced' 'Semi' 'Terr.']

# Task 2 

Before you fit any models, you will need to make sure the data is clean. 

The table below shows what the data should look like. 

Create a cleaned version of the dataframe. 

 - You should start with the data in the file "house_sales.csv". 

 - Your output should be a dataframe named `clean_data`. 

 - All column names and values should match the table below.


| Column Name | Criteria                                                |
|-------------|---------------------------------------------------------|
| house_id    | Nominal. </br> Unique identifier for houses. </br>Missing values not possible. |
| city        | Nominal. </br>The city in which the house is located. One of 'Silvertown', 'Riverford', 'Teasdale' and 'Poppleton' </br>Replace missing values with "Unknown". |
| sale_price  | Discrete. </br>The sale price of the house in whole dollars. Values can be any positive number greater than or equal to zero.</br>Remove missing entries. |
| sale_date   | Discrete. </br>The date of the last sale of the house. </br>Replace missing values with 2023-01-01. |
| months_listed  | Continuous. </br>The number of months the house was listed on the market prior to its last sale, rounded to one decimal place. </br>Replace missing values with mean number of months listed, to one decimal place. |
| bedrooms    | Discrete. </br>The number of bedrooms in the house. Any positive values greater than or equal to zero. </br>Replace missing values with the mean number of bedrooms, rounded to the nearest integer. |
| house_type   | Ordinal. </br>One of "Terraced", "Semi-detached", or "Detached". </br>Replace missing values with the most common house type. |
| area      | Continuous. </br>The area of the house in square meters, rounded to one decimal place. </br>Replace missing values with the mean, to one decimal place. |

In [62]:
# task 2: clean data before I fit them to model
def clean_house_sales_data(df):
    """
    clean house sales data
    """
    # make copy to avoid messing up with the original data
    clean_df = df.copy()
    
    # clean city: replace '--' with NaN standart missing data presentation, then fill with 'unknown'
    clean_df['city'] = clean_df['city'].replace('--', np.nan).fillna('Unknown')
    
    # remove rows with missing sale_price
    clean_df = clean_df.dropna(subset=['sale_price'])
    
    
    # Handle sale_date: convert to datetime, then fill missing with 2023-01-01 in case there is any missing,  convert to datetime is a must
    clean_df['sale_date'] = pd.to_datetime(clean_df['sale_date'], errors='coerce')
    clean_df['sale_date'] = clean_df['sale_date'].fillna(pd.Timestamp('2023-01-01'))

    
    # clean months_listed column: convert to numeric, fill missing with mean rounded to 1 decimal
    clean_df['months_listed'] = pd.to_numeric(clean_df['months_listed'], errors='coerce')
    mean_months = round(clean_df['months_listed'].mean(), 1)
    clean_df['months_listed'] = clean_df['months_listed'].fillna(mean_months)
    
    # clean bedrooms: convert to numeric, fill missing with mean rounded to nearest integer
    clean_df['bedrooms'] = pd.to_numeric(clean_df['bedrooms'], errors='coerce')
    mean_bedrooms = round(clean_df['bedrooms'].mean())
    clean_df['bedrooms'] = clean_df['bedrooms'].fillna(mean_bedrooms).astype(int)
    
    # clean house_type: standardize abbreviations, fill missing with most common house type
    # unique values in house_type: ['Semi-detached' 'Detached' 'Det.' 'Terraced' 'Semi' 'Terr.']
    clean_df['house_type'] = clean_df['house_type'].replace({
        'Det.': 'Detached',
        'Semi': 'Semi-detached',
        'Terr.':'Terraced'
    })
    most_common_type = clean_df['house_type'].mode()[0]
    clean_df['house_type'] = clean_df['house_type'].fillna(most_common_type)
    
    # clean area: remove 'sq.m.' suffix, convert to numeric, fill missing with mean
    clean_df['area'] = clean_df['area'].astype(str).str.replace(' sq.m.', '', regex=False)
    clean_df['area'] = pd.to_numeric(clean_df['area'], errors='coerce')
    mean_area = round(clean_df['area'].mean(), 1)
    clean_df['area'] = clean_df['area'].fillna(mean_area)
    
    return clean_df

# create cleaned dataframe
clean_data = clean_house_sales_data(house_sales_df)

# print the cleaned data and do some checking to approve the cleaned data
print("Print to check missing values:\n - data to be fed to the model shoul have no missing values!\n")
print(clean_data.isna().sum())

# inspect the unique values in area
print(f"unique values in house_type column is: {clean_data['house_type'].unique()}")

print("==" *  40)
print("Print head of the cleaned dataframe:")
display(clean_data.head())

Print to check missing values:
 - data to be fed to the model shoul have no missing values!

house_id         0
city             0
sale_price       0
sale_date        0
months_listed    0
bedrooms         0
house_type       0
area             0
dtype: int64
unique values in house_type column is: ['Semi-detached' 'Detached' 'Terraced']
================================================================================
Print head of the cleaned dataframe:

,house_id,city,sale_price,sale_date,months_listed,bedrooms,house_type,area
0,1217792,Silvertown,55943,2021-09-12,5.4,2,Semi-detached,107.8
1,1900913,Silvertown,384677,2021-01-17,6.3,5,Detached,498.8
2,1174927,Riverford,281707,2021-11-10,6.9,6,Detached,542.5
3,1773666,Silvertown,373251,2020-04-13,6.1,6,Detached,528.4
4,1258487,Silvertown,328885,2020-09-24,8.7,5,Detached,477.1

# Task 3 

The team at RealAgents have told you that they have always believed that the number of bedrooms is the biggest driver of house price. 

Producing a table showing the difference in the average sale price by number of bedrooms along with the variance to investigate this question for the team.

 - You should start with the data in the file 'house_sales.csv'.

 - Your output should be a data frame named `price_by_rooms`. 

 - It should include the three columns `bedrooms`, `avg_price`, `var_price`. 

 - Your answers should be rounded to 1 decimal place.

In [63]:
# task 3: analyzing price by bedrooms
def analyze_price_by_bedrooms(df):
    """
    let's calculate average price and variance by number of bedrooms
    """

    
    analysis_df = df.copy()
    
    # ensure bedrooms is numeric
    analysis_df['bedrooms'] = pd.to_numeric(analysis_df['bedrooms'], errors='coerce')
    
    # group by bedrooms and culculate statistics
    price_stats = analysis_df.groupby('bedrooms')['sale_price'].agg([
        ('avg_price', 'mean'),
        ('var_price', 'var')
    ]).reset_index()
    
    # round to 1 decimal place
    price_stats['avg_price'] = price_stats['avg_price'].round(1)
    price_stats['var_price'] = price_stats['var_price'].round(1)
    
    return price_stats

# output for the price statistics by bedrooms : price_by_rooms
price_by_rooms = analyze_price_by_bedrooms(clean_data)

# print the dataframe to check

print(f"\nprice_by_rooms shape: {price_by_rooms.shape}")
print("="*50)
display(price_by_rooms)

price_by_rooms shape: (5, 3)
==================================================

   bedrooms  avg_price     var_price
0         2    67076.4  5.652896e+08
1         3   154665.1  2.378289e+09
2         4   234704.6  1.725211e+09
3         5   301515.9  2.484328e+09
4         6   375741.3  3.924432e+09

# Task 4

Fit a baseline model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `base_result`, that includes `house_id` and `price`. The price column must be your predicted values.

In [64]:
# ttask 4: Baseline model
from sklearn.linear_model import LinearRegression

# load training and validation data
train_df = pd.read_csv('train.csv')
validation_df = pd.read_csv('validation.csv')

def prepare_baseline_model(train_data, validation_data):
    """
    fit a simple baseline model using only bedrooms as predictor
    """
    # for the baseline model, we can use only bedrooms as feature
    # tthis is simple but gives us an actual fitted model
    
    # prepare training data
    X_train = train_data[['bedrooms']].values.reshape(-1, 1)
    y_train = train_data['sale_price'].values
    
    # fit linear regression model
    model = LinearRegression()
    model.fit(X_train, y_train)
    
    # prepare validation data
    X_val = validation_data[['bedrooms']].values.reshape(-1, 1)
    
    # then make predictions
    predictions = model.predict(X_val)
    
    # create result dataframe
    result_df = pd.DataFrame({
        'house_id': validation_data['house_id'],
        'price': predictions
    })
    
    return result_df

# return dataframe of  baseline predictions
base_result = prepare_baseline_model(train_df, validation_df)

# display first few rows to verify structure
print("baseline model predictions:")
display(base_result.head())
print(f"\nshape : {base_result.shape}")
print(f"columns: {base_result.columns.tolist()}")

baseline model predictions:

   house_id          price
0   1331375  151438.233892
1   1630115  227427.812045
2   1645745  379406.968350
3   1336775  151438.233892
4   1888274  227427.812045

shape : (300, 2)
columns: ['house_id', 'price']

# Task 5

Fit a comparison model to predict the sale price of a house.

 1. Fit your model using the data contained in “train.csv” </br></br>

 2. Use “validation.csv” to predict new values based on your model. You must return a dataframe named `compare_result`, that includes `house_id` and `price`. The price column must be your predicted values.

Requirements:

- Returns dataframe named compare_result

- Includes house_id and price columns

- Price column contains predicted values

- Uses train.csv for fitting, validation.csv for prediction

In [65]:
# task 5: make a comparison model, this has a slight improvement since it include all many features
# import the necessary libraries

from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

def prepare_comparison_model(train_data, validation_data):
    """
    fit a random forest model for better predictive accuracy
    """
    # define features in category as there are numerical and categorical columns
    numeric_features = ['bedrooms', 'area', 'months_listed']
    categorical_features = ['city', 'house_type']
    
    # create preprocessing
    preprocessor = ColumnTransformer(
        transformers=[
            ('num', 'passthrough', numeric_features),
            ('cat', OneHotEncoder(handle_unknown='ignore', sparse_output=False), categorical_features)
        ])
    
    # create random forest model with parameters tuned for better performance
    model = Pipeline(steps=[
        ('preprocessor', preprocessor),
        ('regressor', RandomForestRegressor(
            n_estimators=200,        # more trees for better accuracy
            max_depth=10,            # limit depth to prevent overfitting
            min_samples_split=5,     # more samples per split
            min_samples_leaf=2,      # prevent too small leaves
            random_state=42,         # for reproducibility
            n_jobs=-1                # this use all cores
        ))
    ])
    
    # prepare data to fit model
    X_train = train_data[numeric_features + categorical_features]
    y_train = train_data['sale_price']
    
    # fit model
    model.fit(X_train, y_train)
    
    # then, make predictions
    X_val = validation_data[numeric_features + categorical_features]
    predictions = model.predict(X_val)
    
    # return the required dataframe
    result_df = pd.DataFrame({
        'house_id': validation_data['house_id'],
        'price': predictions
    })
    
    return result_df

# create a comparison model  for predictions from validation dataset
compare_result = prepare_comparison_model(train_df, validation_df)
display(compare_result.head())
print(f"\nshape : {compare_result.shape}")
print(f"columns: {compare_result.columns.tolist()}")

   house_id          price
0   1331375   81574.137623
1   1630115  303200.372027
2   1645745  403649.369582
3   1336775  107473.103872
4   1888274  264905.812462

shape : (300, 2)
columns: ['house_id', 'price']

In [66]:
print("="*60)
# Below is the predicted price for different house using simple model that uses one feature vs. more acurate price from the 
# advenced model that uses all features for more acurate prediction 

compared_df = pd.merge(base_result,compare_result, on ='house_id', suffixes=("_simple_model", "_advanced_model"))
display(compared_df.head())

============================================================

   house_id  price_simple_model  price_advanced_model
0   1331375       151438.233892          81574.137623
1   1630115       227427.812045         303200.372027
2   1645745       379406.968350         403649.369582
3   1336775       151438.233892         107473.103872
4   1888274       227427.812045         264905.812462